   <%- include("partials/header.ejs")%>
   <%- include("partials/nav.ejs")%>
    <!-- <h1"><%= title %></h1> -->
    <div class="container jumbotron  p-5 bgcolor-black">
      <h1>Homepage</h1>
      <br>
      <a class="btn btn-primary " href="/signup">Sign Up</a>
      <a class="btn btn-primary" href="/signin">Sign In</a>
  </div>
    <%- include("partials/footer.ejs")%>
  
